{% load static %}
<footer class="text-center text-lg-start text-white p-5">
    <section>
        <div class="container">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                    <h6 class="text-uppercase fw-bold mb-4 text-white nav-link">Wener Tattoo Studio</h6>
                </div>
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                    <p><a class="text-white nav-link" href="http://api.whatsapp.com/send?1=pt_BR&phone=553199163657" role="button">
                        <i class="fab fa-whatsapp"></i>(31) 99163-6571</a></p>
                </div>
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                    <p>R. Tuffi Saliba, 46, Centro, Juatuba - MG, 35675-000</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d590.6381992514407!2d-44.342689309948625!3d-19.953118211370153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6d93ff3d25d1f%3A0x65dea5f75914cbf!2sWener%20Tattoo%20Studio!5e0!3m2!1spt-BR!2sbr!4v1650737525727!5m2!1spt-BR!2sbr"
                    width="600" height="450" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- Grid row -->
        </div>
    </section>

    <!-- Copyright -->
    <div class="text-center p-4">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://wenertattoostudio.com.br/">wenertattoostudio.com.br</a>
    </div>
    <!-- Copyright -->
</footer>