{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<!-- ##### Contact Form Area Start ##### -->
<div class="contact-area section-padding-0-80 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-white">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
        {% include 'partials/_alertas.html' %}
        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="row text-white">
                            <div class="col-12 col-lg-12">
                            <label for="email">Email</label>
                                <input type="text" id="email" class="form-control" name="email" placeholder="Entre com o email cadastrado">
                            </div>
                                <div class="col-12 col-lg-12">
                                <label for="senha">Senha</label>
                                <input id="senha" type="password" class="form-control" name="senha" placeholder="Digite aqui sua senha">
                            </div>
                            <div class="col-12 text-center mt-5">
                                <button class="btn btn-success" type="submit">Acessar sua conta</button>
                            </div>
                            <div class="col-12 text-center mt-3">
                                <button type="button" class="btn btn-primary" onclick="exibirCriarConta()">Ainda não tem conta? Clique aqui</button>
                            </div>
                            <p class="text-center mt-2 mb-2" style="display: block;">Ou</p>
                            <div class="social-info text-center">
                                <a class="btn btn-link" id="facebook" href="#!"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-link" id="google" href="#!"><i class="fab fa-google"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5"></div>

<script>
function exibirCriarConta()
{
     location.href = "{% url 'cadastro' %}";
}
</script>
{% include 'partials/_footer.html' %}
{% endblock %}