{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<div class="text-center mt-5 text-white">
    <h5>Agenda</h5>
</div>
{% if user.is_authenticated %}
    <div class="text-center mt-5 text-white">
        <a href="{% url 'criar_agenda' %}" type="button" class="btn btn-success">Agendar</a>
    </div>
{% endif %}

<div id="calendar" class="container mt-5">

</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        timeZone: 'America/Sao_Paulo',
        themeSystem: 'bootstrap5',
        views: {
            dayGridMonth: {
                titleFormat: { year: 'numeric', month: '2-digit', day: '2-digit' }
            },
            timeGrid: {
                dayMaxEventRows: 6
            }
        },
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        events: [
        {% for agendamento in agendamentos %}
            {
                title: "{{agendamento.usuario}}",
                description: "TESTE",
                start: "{{agendamento.data_agenda | date:'Y-m-d'}}" + 'T' + "{{agendamento.hora_inicio}}",
                end: "{{agendamento.data_agenda | date:'Y-m-d'}}" + 'T' + "{{agendamento.hora_fim}}"
            },
        {% endfor %}
        ],
        eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
        },
        editable: false,
        selectable: true
    });
    calendar.setOption('locale', 'pt-br');
    calendar.render();
});
</script>

{% include 'partials/_footer.html' %}
{% endblock %}
