{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<div class="contact-area section-padding-0-80 mt-5">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading text-center mt-5 text-white">
                   <h3>Crie um agendamento, {{user.username}}!</h3>
               </div>
           </div>
       </div>
       {% include 'partials/_alertas.html' %}
       <div class="row mt-5">
           <div class="col-12 text-white">
               <div class="contact-form-area">
                   <form action="{% url 'criar_agenda' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="row">
                           <div class="col-12 col-lg-4 mt-1">
                               <label for="data_agenda">Data Agendada:</label>
                               <input type="date" id="data_agenda" class="form-control" name="data_agenda" required>
                           </div>
                           <div class="col-12 col-lg-4 mt-1">
                               <label for="hora_inicio">Hora de início:</label>
                               <input type="time" id="hora_inicio" class="form-control" name="hora_inicio" required>
                           </div>
                           <div class="col-12 col-lg-4 mt-1">
                               <label for="hora_fim">Hora de término:</label>
                               <input type="time" class="form-control custom-file" name="hora_fim" id="hora_fim" required>
                           </div>
                           <div class="col-12 text-center mt-5">
                               <button class="btn btn-success delicious-btn mt-30" type="submit">Enviar agendamento</button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-12">
               <div class="section-heading text-center mt-5 text-white">
                   <h5>O agendamento será enviado para aprovação do tatuador, em breve receberá a confirmação!</h5>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="mt-5"></div>
{% include 'partials/_footer.html' %}
{% endblock %}