{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/_menu.html' %}

<div class="contact-area section-padding-0-80 mt-5">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="section-heading text-center mt-5 text-white">
                   <h3>Criar Tattoo</h3>
               </div>
           </div>
       </div>

       <div class="row mt-5">
           <div class="col-12 text-white">
               <div class="contact-form-area">
                   <form action="{% url 'cria_tattoo' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="row">
                           <div class="col-12 col-lg-12 mt-1">
                               <label for="nome_tattoo">Nome da Tattoo:</label>
                               <input type="text" id="nome_tattoo" class="form-control" name="nome_tattoo" required>
                           </div>
                           <div class="col-12 col-lg-4 mt-1">
                               <label for="data_inclusao">Data de criação:</label>
                               <input type="date" id="data_inclusao" class="form-control" name="data_inclusao" required>
                           </div>
                           <div class="col-12 col-lg-4 mt-1">
                               <label for="foto_tattoo">Foto da Tattoo:</label>
                               <input type="file" class="form-control custom-file" name="foto_tattoo" id="foto_tattoo" required>
                           </div>
                           <div class="col-12 col-lg-4 text-center mt-5">
                               <input type="checkbox" class="form-check-input" name="destaque" id="destaque">
                               <label for="destaque">Tattoo destaque?</label>
                           </div>
                           <div class="col-12 text-center mt-5">
                               <button class="btn btn-success delicious-btn mt-30" type="submit">Incluir tattoo</button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
<div class="mt-5"></div>
{% include 'partials/_footer.html' %}
{% endblock %}